name: Generate Proto Files with Buf

on:
  push:
    paths:
      - '**/*.proto'
      - 'buf.gen.yaml'
      - 'buf.yaml'

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1
        with:
          version: '1.27.1'

      - name: Generate code with Buf
        run: |
          buf mod update
          buf generate